# Google Cloud Storage
GOOGLE_APPLICATION_CREDENTIALS=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=

# Test configuration
CLOUDFS_TEST_GCS_BUCKET=
CLOUDFS_TEST_S3_BUCKET=
CLOUDFS_TEST_AZURE_CONTAINER=
CLOUDFS_TEST_PREFIX=cloudfs-test
